*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Public Sans', sans-serif;
}

.lalasia {
  text-align: center;
}

@media screen and (max-width: 320px) {
  header {
    display: flex;
    gap: 8px;
    padding: 0.9rem 0.8rem;
    border-bottom: 1.5px solid #F3F3F3;
  }
  .logo--title {
    margin-right: auto;
    font-weight: 800;
    padding-top: 6px;
  }
  .hero--intro {
    font-family: 'Public Sans', sans-serif;
    width: 83%;
    margin: 0 auto;
    margin-top: 4rem;
  }
  .hero--title {
    font-weight: 700;
    font-size: 1.6rem;
    margin:  0 auto;
    margin-bottom: 1rem;
  }
  .hero-description {
    font-size: 0.8rem;
    color: #4d4d4db9;
  }
}
